
@media (min-width: 640px) {
  .my-form {
    padding-right: 3rem;
  }
}

@media (max-width: 640px) {
  .my-form {
    padding: 10px;
  }
}


.my-label {
  margin: 0 !important;
  display: flex;
  justify-content: flex-end;
}

.my-button {
  padding: 10px 7rem;
}

