.reg {
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: normal;
}

.regInfo {
    background: #FFFFFF;
    height: 100vh;
    color: #000000;
}

.regInfo h4 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.regInfo .backBtn a,
.regInfo .backBtn a:hover {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    fill: #000000;
}

.regForm {
    position: absolute;
    width: 368px;
    left: 145px;
}

.regForm h1 {
    font-family: Gilroy-Bold;
    font-weight: bold;
    font-size: 42px;
    line-height: 167.8%;
}

.regForm input,
.regForm input:focus,
.regForm input::placeholder {
    font-size: 17px;
    line-height: 27px;
    border: 0;
    outline: 0;
    color: #000000;
    padding: 10px 0;
    width: 100%
}

.regForm .formInput {
    border-bottom: 1px solid #DFDFDF;
    margin: 20px auto;
}

.regForm .regFromBtn {
    width: 100%;
    background: #FF8C5F;
    border-radius: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    height: 45px;
    border: 0;
}

.regForm .regFromBtn:hover {
    background: #f87b4a;
    font-weight: bold;
}

.regForm .ft {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
}

.regImg {
    background: #333CC1;
    height: 100vh;
    color: #000000;
}

.regImg .signIn,
.regImg .signIn:hover {
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    right: 120px;
    top: 97px;
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FF8C5F;
    padding: 13px 23px;
}

.regImg .hero {
    position: absolute;
    top: 200px;
    right: 140px;
    margin: 0 auto;
    text-align: left;
    color: #FFFFFF;
}

.hero h1 {
    font-family: Gilroy-Bold;
    font-size: 42px;
    line-height: 52px;
    color: #FFFFFF;
}

.hero h1 span {
    color: #FF8C5F;
}

.hero p {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
}